---

- name: Configure IPv4 addresses
  fortinet.fortios.fortios_system_interface:
    vdom: "{{ domain }}"
    #access_token: bnq3rkngfn5cp6y3fdmq8f0t7yybp5
    state: present
    system_interface:
      "{{ item }}"
  loop: "{{ ipv4_address }}"

- name: Configure IPv4 static routing
  fortinet.fortios.fortios_router_static:
    vdom: "{{ domain }}"
    #access_token: bnq3rkngfn5cp6y3fdmq8f0t7yybp5
    state: present
    router_static:
      "{{ item }}"
  loop: "{{ ipv4_routing }}"
  ignore_errors: true

