---

- name: undeploy | get template vm
  vmware.vmware_rest.vcenter_vm_info:
    filter_names:
    - "{{ fortigate_vm }}"
    - "{{ fortianalyzer_vm }}"
    - "{{ fortimanager_vm }}"
  register: vms_info
  delegate_to: localhost

- name: Start the VM
  vmware.vmware_rest.vcenter_vm_power:
    state: stop
    vm: "{{ item.vm }}"
  with_items: '{{ vms_info.value }}'
  delegate_to: localhost

- name: Delete Fortinet VM
  vmware.vmware_rest.vcenter_vm:
    state: absent
    vm: "{{ item.vm }}""
  with_items: '{{ vms_info.value }}'
  delegate_to: localhost
