---

- name: Change admin password
  fortinet.fortios.fortios_system_admin:
    vdom: "{{ domain }}"
    state: present
    system_admin:
      name: admin
      password: "{{ new_password }}"
      force_password_change: "disable"
  ignore_errors: yes

- name: Create admin2 admin
  fortinet.fortios.fortios_system_admin:
    vdom: "{{ domain }}"
    state: present
    system_admin:
      name: new_admin
      password: pass
      accprofile: super_user
      force_password_change: "disable"
  ignore_errors: yes

- name: Change new_admin password
  fortinet.fortios.fortios_system_admin:
    vdom: "{{ domain }}"
    state: present
    system_admin:
      name: new_admin
      password: new_pass
      force_password_change: "disable"
  ignore_errors: yes

- name: Remove admin password
  fortinet.fortios.fortios_system_admin:
    vdom: "{{ domain }}"
    state: absent
    system_admin:
      name: admin
  ignore_errors: yes