---

- name: Change admin password
  fortinet.fortios.fortios_system_admin:
    vdom: "{{ domain }}"
    state: present
    system_admin:
      name: admin
      password: "{{ new_password }}"
      force_password_change: "disable"

