---

- name: Add FortiGate device to FortiManager
  fortinet.fortimanager.fmgr_dvm_cmd_add_device:
    dvm_cmd_add_device:
      adom: "{{ fortigate_vdom }}"
      device:
        adm_usr: admin
        adm_pass: admin
        ip: "{{ fortigate_ip }}"
        name: "FortiGate-VM64-KVM"
        sn: "FGVMEVPAYOCISQ99"
        mgmt_mode: faz
        os_type: fos
        device action: "add_model"

- name: Probe Fortigate device from FortiManager 
  fortinet.fortimanager.fmgr_dvm_cmd_add_device:
    dvm_cmd_discover_device:
      adom: "{{ fortigate_vdom }}"
      device:
        adm_pass: admin
        adm_usr: admin
        ip: "{{ fortigate_ip }}"
  register: _probed_device

- name: Debug FortiGate device probing
  debug:
    var: _probed_device
