---


# Device Management

- name: Creation of a Device Group
  fortinet.fortianalyzer.faz_dvmdb_group:
    adom: "{{ fortigate_vdom }}"
    dvmdb_group:
      name: Group1
      os_type: unknown
      type: normal
    state: present

- name: Add the Fortigate as Group member
  fortinet.fortianalyzer.faz_dvmdb_group_objectmember:
    adom: "{{ fortigate_vdom }}"
    dvmdb_group_objectmember:
      name: "FortiGate-VM64-KVM"
      vdom: "{{ fortigate_vdom }}"
    group: Group1
    state: present

# Get facts

- name: Get FortiAnalyzer facts
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: dvmdb_device
        # selector: dvmdb_adom
        # selector: dvmdb_group
        # selector: cli_system_admin_setting
        # selector: cli_system_admin_user
        # selector: sys_status
        params:
            adom: 'root'
