---


# Device Management

- name: Creation of a Device Group
  fortinet.fortianalyzer.faz_dvmdb_group:
    adom: "{{ fortigate_vdom }}"
    dvmdb_group:
      name: Group1
      os_type: unknown
      type: normal
    state: present

- name: Add the Fortigate as Group member
  fortinet.fortianalyzer.faz_dvmdb_group_objectmember:
    adom: "{{ fortigate_vdom }}"
    dvmdb_group_objectmember:
      name: "FortiGate-VM64-KVM"
      vdom: "{{ fortigate_vdom }}"
    group: Group1
    state: present

# Get facts

- name: "Get FortiAnalyzer facts dvmdb_adom {{ fortigate_vdom }}"
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: dvmdb_adom
        params:
          adom: "{{ fortigate_vdom }}"

- name: Get FortiAnalyzer facts dvmdb_device
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: dvmdb_device
        params:
            adom: "{{ fortigate_vdom }}"
            device: ""

- name: Get FortiAnalyzer facts cli_fmupdate_analyzer_virusreport
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_fmupdate_analyzer_virusreport

- name: Get FortiAnalyzer facts cli_fmupdate_service
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_fmupdate_service

- name: Get FortiAnalyzer facts cli_system_admin_user
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_admin_user

- name: Get FortiAnalyzer facts cli_system_connector
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_connector

- name: Get FortiAnalyzer facts cli_system_dns
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_dns

- name: Get FortiAnalyzer facts cli_system_fortiview_setting
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_fortiview_setting

- name: Get FortiAnalyzer facts cli_system_global
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_global

- name: Get FortiAnalyzer facts cli_system_interface
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_interface
        params:
          interface: ""

- name: Get FortiAnalyzer facts cli_system_locallog_setting
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_locallog_setting

- name: Get FortiAnalyzer facts cli_system_locallog_disk_setting
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_locallog_disk_setting

- name: Get FortiAnalyzer facts cli_system_locallog_fortianalyzer_filter
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_locallog_fortianalyzer_filter

- name: Get FortiAnalyzer facts cli_system_locallog_fortianalyzer_setting
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_locallog_fortianalyzer_setting

- name: Get FortiAnalyzer facts cli_system_log_settings
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_log_settings

- name: Get FortiAnalyzer facts cli_system_log_alert
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_log_alert

- name: Get FortiAnalyzer facts cli_system_log_interfacestats
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_log_interfacestats
  
- name: Get FortiAnalyzer facts cli_system_performance
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_performance
  
- name: Get FortiAnalyzer facts cli_system_report_setting
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_report_setting
  
- name: Get FortiAnalyzer facts cli_system_status
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: cli_system_status
  
- name: Get FortiAnalyzer facts sys_status
  fortinet.fortianalyzer.faz_fact:
    facts:
        selector: sys_status

