---

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/expect_module.html
# https://www.mail-archive.com/ansible-project@googlegroups.com/msg39525.html 
- name: Set admin initial password
  ansible.builtin.expect:
    command: "ssh -o StrictHostKeyChecking=no admin@{{ hostvars[groups['fortigate'][0]].ansible_host }}"
    responses:
      # 'Are you sure you want to continue connecting (yes/no/[fingerprint])': "yes"
      # 'You are forced to change your password. Please input a new password.'
      'New Password:': "{{ init_password }}" 
      'Confirm Password:': "{{ init_password }}"
      'FortiGate-VM64 # ': "exit" 
  no_log: false # hide passwords on logs  

- name: "Change admin password"
  ansible.builtin.expect:
    command: "ssh -o StrictHostKeyChecking=no admin@{{ hostvars[groups['fortigate'][0]].ansible_host }}"
    responses:
      '.* password': "{{ init_password }}" 
      'FortiGate-VM64 # ': "config system admin"
      'FortiGate-VM64 (admin) #': "edit admin"
      'FortiGate-VM64 (admin) #': "set password {{ new_password }}"
      'FortiGate-VM64 (admin) #': "end"
      'FortiGate-VM64 # ': "exit"
  no_log: false # hide passwords on logs  

  
# - name: Update VM license using uploaded file (reboots immediately if successful).
#   fortinet.fortios.fortios_system_vmlicense:
#     vdom:  "{{ vdom }}"
#     system_vmlicense:
#       file_content: "{{ encoded_license }}"
#   vars:
#     license_file: ./FGVMXXXXXX-VM00.lic
#     license_file_content: "{{ lookup( 'file', license_file) }}"
#     encoded_license: "{{ license_file_content | string | b64encode }}"
