---

- name: Configure admin password
  fortinet.fortios.fortios_system_admin:
    vdom: "{{ domain }}"
    state: present
    system_admin:
      name: admin
      password: "{{ new_password }}"
      force_password_change: "disable"

# - name: Add a FortiCare license in FortiGate
#   fortios_registration_forticare:
#     vdom:  "{{ vdom }}"
#     registration_forticare:
#       registration_code: "<your_own_value>"
