---

- name: Get FortiManager facts
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: dvmdb_adom
        params:
          adom: "{{ domain }}"

- name: "Get FortiManager facts dvmdb_adom {{ domain }}"
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: dvmdb_adom
        params:
          adom: "{{ domain }}"

- name: Get FortiManager facts dvmdb_device
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: dvmdb_device
        params:
            adom: "{{ domain }}"
            device: ""

- name: Get FortiManager facts system_interface
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: system_interface
        params:
            interface: ""

- name: Get FortiManager facts system_locallog_setting
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: system_locallog_setting

- name: Get FortiManager facts system_performance
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: system_performance

- name: Get FortiManager facts system_admin_profile
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: system_admin_profile
        params: 
          profile: ""

- name: Get FortiManager facts system_admin_user
  fortinet.fortimanager.fmgr_fact:
    facts:
        selector: system_admin_user
        params:
          user: ""

