---

- name: Gather facts from Fortinet FortiGate
  fortinet.fortios.fortios_configuration_fact:
    vdom: "{{ domain }}"
    #access_token: "{{ fortigate_token }}"
    selectors:
      #- selector: "system_interface"
      - selector: "firewall_address"
  register: _fortinet_facts

- name: Configure IP address 1
  fortinet.fortios.fortios_firewall_address:
    vdom: "{{ domain }}"
    #access_token: "{{ fortigate_token }}"
    state: present
    enable_log: true
    firewall_address:
      name: port2
      interface: port2
      associated_interface: port2
      # start_ip: 10.1.1.1
      # end_ip: 10.1.1.1
      # subnet: 255.255.255.0
      type: ipmask
      subnet: 10.1.1.1 255.255.255.0
      list: 
      - ip: 10.1.1.1 255.255.255.0
        net_id: 255.255.255.0
        obj_id: 1
  register: _ip_address1

# - name: Configure IP address 2
#   fortinet.fortios.fortios_firewall_address:
#     vdom: "{{ domain }}"
#     #access_token: "{{ fortigate_token }}"
#     state: present
#     enable_log: true
#     firewall_address:
#       name: port3
#       interface: port3
#       associated_interface: port3
#       list: 
#       - ip: 10.2.2.2
#         net_id: 255.255.255.0
#         obj_id: 2
#   register: _ip_address2

- name: Configure IP static routing 1
  fortinet.fortios.fortios_router_static:
    vdom: "{{ domain }}"
    #access_token: "{{ fortigate_token }}"
    state: absent
    router_static:
      device: port2
      src: "0.0.0.0 0.0.0.0"
      dst: "10.3.3.0 255.255.255.0"
      gateway: 10.1.1.1
  register: _ip_route1

- name: Configure IP static routing 2
  fortinet.fortios.fortios_router_static:
    vdom: "{{ domain }}"
    #access_token: "{{ fortigate_token }}"
    state: absent
    router_static:
      device: port3
      src: "0.0.0.0 0.0.0.0"
      dst: "10.4.4.0 255.255.255.0"
      gateway: 10.2.2.1
  register: _ip_route2